<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Página de inicio</h1>
    <a href="{{ url_for('materiales') }}">Ir a la página de materiales</a><br>
    <a href="{{ url_for('procesos') }}">Ir a la página de procesos</a><br>
    <a href="{{ url_for('productos') }}">Ir a la página de productos</a><br>
    <a href="{{ url_for('proveedores') }}">Ir a la página de proveedores</a><br>
    <a href="{{ url_for('personal') }}">Ir a la página de personal</a><br>
    <a href="{{ url_for('ventas') }}">Ir a la página de ventas</a>
</body>
</html>
