<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5">
            Añadir datos de los procesos
        </h1>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Datos del proceso</h5>
                    </div>

                    <div class="card-body">
                        <form action="/procesos" method="POST">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="nombre_proc">
                            <label>Descripción</label>
                            <input type="text" class="form-control mb-3" name="descripcion_proc">
                            <label>Temperatura</label>
                            <input type="text" class="form-control mb-3" name="temperatura_proc">
                            <label>Presión</label>
                            <input type="text" class="form-control mb-3" name="presion_proc">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Procesos</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for proceso in procesos %}
                            <li class="list-group-item mb-3">
                                <form action="/edit-proceso/{{ proceso.nombre_proc }}" method="POST">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" value="{{ proceso.nombre_proc }}"
                                        name="nombre_proc">
                                    <label>Descripción</label>
                                    <input type="text" class="form-control" value="{{ proceso.descripcion_proc }}"
                                        name="descripcion_proc">
                                    <label>Temperatura</label>
                                    <input type="text" class="form-control" value="{{ proceso.temperatura_proc }}"
                                        name="temperatura_proc">
                                    <label>Presión</label>
                                    <input type="text" class="form-control" value="{{ proceso.presion_proc }}"
                                        name="presion_proc">
                                    <button class="btn btn-primary btn-sm mt-3" type="submit">Editar</button>
                                    <a href="{{ url_for('deleteProceso', proceso_name=proceso.nombre_proc) }}"
                                        class="btn btn-danger btn-sm mt-3">Eliminar</a>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
